body {
    text-align: center;
    background: black url(backg.jpg) no-repeat fixed center;
    background-size: cover;
    color: red;
    display: flex;
    flex-direction: column; /* Ordnet die Kinder (Buttons) vertikal an */
    align-items: center; /* Zentriert die Buttons horizontal */
    justify-content: center; /* Zentriert den Inhalt vertikal */
    min-height: 100vh; 
}
button {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 165, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    animation: slide-in 0.8s ease-out;
    opacity: 0; /* Verhindert, dass der Button vor der Animation sichtbar ist */
    animation-fill-mode: forwards; /* Bleibt am Endpunkt der Animation */
}

/* Erste Button (ohne Verzögerung) */
button:nth-child(1) {
    animation-delay: 0s;
}

/* Zweiter Button (nach 0.3s) */
button:nth-child(2) {
    animation-delay: 0.3s;
}

/* Dritter Button (nach 0.6s) */
button:nth-child(3) {
    animation-delay: 0.6s;
}
button:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes slide-in {
    from { transform: translate(-100px, -100px); opacity: 0; }
    to { transform: translate(0, 0); opacity: 1; }
}
